In [1]:
from sklearn import tree
import numpy as np
import pandas as pd

In [2]:
df= pd.read_excel('C:\\Users\\rcm1\\Documents\\PATTERN_ANALYSIS\\DT_Analysis.xlsx')

In [3]:
print(df.columns)
print(df.shape)

Index(['Row Labels', 'Target', '202110_int', '202111_int', '202112_int',
       'Q1_int', 'Q2_int', 'Q3_int', 'Q4_int', 'half_yearly_1_int',
       ...
       '202110_Repeat', '202111_Repeat', '202112_Repeat', 'Q1_Repeat',
       'Q2_Repeat', 'Q3_Repeat', 'Q4_Repeat', 'half_yearly_1_Repeat',
       'half_yearly_2_Repeat', 'Yearly_Repeat'],
      dtype='object', length=102)
(107, 102)

In [4]:
df.head(10)

,Row Labels,Target,202110_int,202111_int,202112_int,Q1_int,Q2_int,Q3_int,Q4_int,half_yearly_1_int,...,202110_Repeat,202111_Repeat,202112_Repeat,Q1_Repeat,Q2_Repeat,Q3_Repeat,Q4_Repeat,half_yearly_1_Repeat,half_yearly_2_Repeat,Yearly_Repeat
0,N1013A,0,1,1,1,4,2,6,3,6,...,6,4,0,7,9,7,10,16,17,33
1,N1093A,0,2,0,0,4,7,2,2,11,...,0,0,0,1,2,9,0,3,9,12
2,N1181A,0,1,3,2,7,5,5,6,12,...,0,7,0,24,2,2,7,26,9,35
3,N1229A,0,3,4,1,5,6,3,8,11,...,8,10,0,17,7,0,18,24,18,42
4,N1321A,0,3,3,0,8,6,3,6,14,...,8,0,0,8,2,6,8,10,14,24
5,N1327A,0,2,1,2,5,3,8,5,8,...,0,6,0,3,2,8,6,5,14,19
6,N1361A,0,5,4,1,4,1,4,10,5,...,2,4,0,2,0,7,6,2,13,15
7,N1373A,0,0,2,0,3,4,4,2,7,...,0,6,0,3,0,2,6,3,8,11
8,N1381A,0,1,2,1,5,5,3,4,10,...,4,2,0,20,3,10,6,23,16,39
9,N1399A,1,2,2,3,2,6,4,7,8,...,6,0,0,7,11,6,6,18,12,30

In [5]:
Y=df['Target']
Y.shape

(107,)

In [48]:
# X=df.drop(['Target', 'Row Labels'],axis=1)

In [6]:
df1 = df.drop(['Target', 'Row Labels'],1)
ind_var = df1   
ind_var.head(5)

,202110_int,202111_int,202112_int,Q1_int,Q2_int,Q3_int,Q4_int,half_yearly_1_int,half_yearly_2_int,Yearly_int,...,202110_Repeat,202111_Repeat,202112_Repeat,Q1_Repeat,Q2_Repeat,Q3_Repeat,Q4_Repeat,half_yearly_1_Repeat,half_yearly_2_Repeat,Yearly_Repeat
0,1,1,1,4,2,6,3,6,9,15,...,6,4,0,7,9,7,10,16,17,33
1,2,0,0,4,7,2,2,11,4,15,...,0,0,0,1,2,9,0,3,9,12
2,1,3,2,7,5,5,6,12,11,23,...,0,7,0,24,2,2,7,26,9,35
3,3,4,1,5,6,3,8,11,11,22,...,8,10,0,17,7,0,18,24,18,42
4,3,3,0,8,6,3,6,14,9,23,...,8,0,0,8,2,6,8,10,14,24

# Decision Tree Output :

In [7]:
clf = tree.DecisionTreeClassifier(max_leaf_nodes= 9, splitter= 'best', max_depth= 10)
# Set the max leaf nodes to 5.

In [8]:
# Defining the list of columns to predict the output : 
list=df.columns
print(list)

Index(['Row Labels', 'Target', '202110_int', '202111_int', '202112_int',
       'Q1_int', 'Q2_int', 'Q3_int', 'Q4_int', 'half_yearly_1_int',
       ...
       '202110_Repeat', '202111_Repeat', '202112_Repeat', 'Q1_Repeat',
       'Q2_Repeat', 'Q3_Repeat', 'Q4_Repeat', 'half_yearly_1_Repeat',
       'half_yearly_2_Repeat', 'Yearly_Repeat'],
      dtype='object', length=102)

In [9]:
# LOOP TO STUDY THE VARIABLE INDIVIDUALLY WITH TARGET VARAIBLES : 
df_dt=pd.DataFrame()
for i in range(2,102):
    x=df.iloc[:,i:i +1]
    clf = clf.fit(x, Y)
    j=list[i]
    df_dt[j]=clf.apply(x) # nodes
df_dt

,202110_int,202111_int,202112_int,Q1_int,Q2_int,Q3_int,Q4_int,half_yearly_1_int,half_yearly_2_int,Yearly_int,...,202110_Repeat,202111_Repeat,202112_Repeat,Q1_Repeat,Q2_Repeat,Q3_Repeat,Q4_Repeat,half_yearly_1_Repeat,half_yearly_2_Repeat,Yearly_Repeat
0,7,12,1,13,15,15,13,9,16,1,...,5,7,0,5,9,1,8,9,1,1
1,9,11,1,13,12,5,13,9,15,1,...,3,1,0,15,3,1,5,5,1,1
2,7,10,5,15,13,15,4,9,13,5,...,3,6,0,8,3,1,8,15,1,1
3,10,7,1,13,14,5,9,9,13,5,...,6,13,0,8,3,1,16,15,1,1
4,10,10,1,16,14,5,4,10,16,5,...,6,1,0,5,3,1,8,9,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,7,12,1,13,15,16,13,1,13,1,...,13,7,0,15,9,16,12,9,4,14
103,10,9,1,13,12,15,4,9,13,5,...,3,1,0,16,3,5,5,5,1,1
104,10,9,1,13,6,14,6,10,12,13,...,15,6,0,16,6,15,14,15,6,14
105,7,12,7,6,13,5,6,5,15,5,...,5,7,0,8,6,1,8,14,1,11
106,10,11,1,16,7,5,13,12,15,5,...,3,1,0,16,6,1,5,15,1,1

# CHAID : chi Square Decision Tree :

In [11]:
!pip install chefboost

Collecting chefboost
  Downloading https://files.pythonhosted.org/packages/bd/8b/7ad6e7b961328e5c16b6274c533c63306ae0dad42b6f3b75fd475bd31a11/chefboost-0.0.16-py3-none-any.whl
Requirement already satisfied: tqdm>=4.30.0 in c:\users\rcm1\appdata\local\continuum\anaconda3\lib\site-packages (from chefboost) (4.36.1)
Requirement already satisfied: psutil>=5.4.3 in c:\users\rcm1\appdata\local\continuum\anaconda3\lib\site-packages (from chefboost) (5.6.3)
Requirement already satisfied: numpy>=1.14.0 in c:\users\rcm1\appdata\local\continuum\anaconda3\lib\site-packages (from chefboost) (1.19.5)
Requirement already satisfied: pandas>=0.22.0 in c:\users\rcm1\appdata\local\continuum\anaconda3\lib\site-packages (from chefboost) (0.25.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\rcm1\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.22.0->chefboost) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\rcm1\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.22.0->chefboost) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\rcm1\appdata\local\continuum\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.22.0->chefboost) (1.15.0)
Installing collected packages: chefboost
Successfully installed chefboost-0.0.16

In [14]:
ind_var

,202110_int,202111_int,202112_int,Q1_int,Q2_int,Q3_int,Q4_int,half_yearly_1_int,half_yearly_2_int,Yearly_int,...,202110_Repeat,202111_Repeat,202112_Repeat,Q1_Repeat,Q2_Repeat,Q3_Repeat,Q4_Repeat,half_yearly_1_Repeat,half_yearly_2_Repeat,Yearly_Repeat
0,1,1,1,4,2,6,3,6,9,15,...,6,4,0,7,9,7,10,16,17,33
1,2,0,0,4,7,2,2,11,4,15,...,0,0,0,1,2,9,0,3,9,12
2,1,3,2,7,5,5,6,12,11,23,...,0,7,0,24,2,2,7,26,9,35
3,3,4,1,5,6,3,8,11,11,22,...,8,10,0,17,7,0,18,24,18,42
4,3,3,0,8,6,3,6,14,9,23,...,8,0,0,8,2,6,8,10,14,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,1,1,1,2,2,7,3,4,10,14,...,11,4,0,0,13,57,15,13,72,85
103,3,2,1,3,9,5,6,12,11,23,...,0,0,0,2,7,20,0,9,20,29
104,3,2,0,4,10,8,5,14,13,27,...,13,7,0,4,23,39,20,27,59,86
105,1,1,3,11,4,3,5,15,8,23,...,4,4,0,15,30,12,8,45,20,65
106,3,0,0,8,12,0,3,20,3,23,...,0,0,0,4,22,0,0,26,0,26

In [15]:
import chefboost as chef 
config = {'algorthim' : 'CHAID'}
mod = chef.(ind_var,config)

AttributeError: module 'chefboost' has no attribute 'fit'

# PRINTING THE TREE FOR IT : 
clf = clf.fit(X, Y)

from matplotlib import pyplot as plt


fig = plt.figure(figsize=(15,10))
_ = tree.plot_tree(clf)
_

# MEGRGINH THE DATA FOR ALL OUTPUT :

In [31]:
ser_pred = pd.Series(predictions)

In [32]:
Ser_node = pd.Series(nodes_out)

In [37]:
Ser_node_df = pd.DataFrame(Ser_node)
ser_pred_df = pd.DataFrame(ser_pred)

In [41]:
fin = pd.merge(Ser_node_df,ser_pred_df,right_index = True,
               left_index = True)

In [46]:
fin.rename(columns = {'0_x':'Nodes_number', '0_y' : 'Prediction' }, inplace = True)

In [47]:
fin

     Nodes_number  Prediction
0               1           0
1               1           0
2               1           0
3               1           0
4               1           0
..            ...         ...
102             3           0
103             3           0
104             1           0
105             1           0
106             1           0

[107 rows x 2 columns]

In [50]:
Ind_var = pd.DataFrame(X)

In [55]:
Ind_var.shape

(107, 99)

In [51]:
Ind_var

,202110_int,202111_int,202112_int,Q1_int,Q2_int,Q3_int,Q4_int,half_yearly_1_int,half_yearly_2_int,Yearly_int,...,Yearly_CR,202110_Repeat,202111_Repeat,202112_Repeat,Q1_Repeat,Q2_Repeat,Q3_Repeat,Q4_Repeat,half_yearly_1_Repeat,half_yearly_2_Repeat
0,1,1,1,4,2,6,3,6,9,15,...,106,6,4,0,7,9,7,10,16,17
1,2,0,0,4,7,2,2,11,4,15,...,85,0,0,0,1,2,9,0,3,9
2,1,3,2,7,5,5,6,12,11,23,...,200,0,7,0,24,2,2,7,26,9
3,3,4,1,5,6,3,8,11,11,22,...,170,8,10,0,17,7,0,18,24,18
4,3,3,0,8,6,3,6,14,9,23,...,104,8,0,0,8,2,6,8,10,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,1,1,1,2,2,7,3,4,10,14,...,176,11,4,0,0,13,57,15,13,72
103,3,2,1,3,9,5,6,12,11,23,...,258,0,0,0,2,7,20,0,9,20
104,3,2,0,4,10,8,5,14,13,27,...,205,13,7,0,4,23,39,20,27,59
105,1,1,3,11,4,3,5,15,8,23,...,266,4,4,0,15,30,12,8,45,20
106,3,0,0,8,12,0,3,20,3,23,...,129,0,0,0,4,22,0,0,26,0

In [60]:
final_df = pd.merge(Ind_var,fin,right_index = True,
               left_index = True)

In [61]:
final_df

,202110_int,202111_int,202112_int,Q1_int,Q2_int,Q3_int,Q4_int,half_yearly_1_int,half_yearly_2_int,Yearly_int,...,202111_Repeat,202112_Repeat,Q1_Repeat,Q2_Repeat,Q3_Repeat,Q4_Repeat,half_yearly_1_Repeat,half_yearly_2_Repeat,Nodes_number,Prediction
0,1,1,1,4,2,6,3,6,9,15,...,4,0,7,9,7,10,16,17,1,0
1,2,0,0,4,7,2,2,11,4,15,...,0,0,1,2,9,0,3,9,1,0
2,1,3,2,7,5,5,6,12,11,23,...,7,0,24,2,2,7,26,9,1,0
3,3,4,1,5,6,3,8,11,11,22,...,10,0,17,7,0,18,24,18,1,0
4,3,3,0,8,6,3,6,14,9,23,...,0,0,8,2,6,8,10,14,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,1,1,1,2,2,7,3,4,10,14,...,4,0,0,13,57,15,13,72,3,0
103,3,2,1,3,9,5,6,12,11,23,...,0,0,2,7,20,0,9,20,3,0
104,3,2,0,4,10,8,5,14,13,27,...,7,0,4,23,39,20,27,59,1,0
105,1,1,3,11,4,3,5,15,8,23,...,4,0,15,30,12,8,45,20,1,0
106,3,0,0,8,12,0,3,20,3,23,...,0,0,4,22,0,0,26,0,1,0

In [62]:
 final_df.to_excel("nodes_out.xlsx")